@use '@/shared/styles/design-system' as *;

.treeImage {
  position: absolute;
  width: 100%;
  top: 4rem;

  @include portrait-square {
    width: auto;
    height: 65dvh;
    top: calc(30% + 2rem);
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include landscape {
    top: 0;
    width: auto;
    height: 100dvh;
    max-width: 960px;
  }

  @include landscape-tablet {
    max-width: 50vw;
  }
}

.image {
  height: auto;
  object-fit: cover;
  max-height: 80dvh;

  @include portrait-square {
    height: 100%;
    max-height: none;
  }

  @include landscape {
    max-height: none;
    height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: contain;
  }
}
