@use '../../../../styles/design-system' as *;

.treeImage {
  position: absolute;
  will-change: transform;

  @include respond-to(md) {
    height: 100%;
    top: 0;
  }

  &Portrait {
    width: 100%;

    @include respond-to(md) {
      transform: translateY(-6rem);
      flex-basis: 40%;
      align-self: center;
    }
  }

  &Landscape {
    width: 50vw;
    height: 100vh;

    @include respond-to(md) {
      max-width: none;
      max-height: none;
    }
  }

  &Square {
    height: 80%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.image {
  height: auto;
  object-fit: cover;

  &Portrait {
    max-height: 80vh;
  }

  &Landscape {
    height: 100%;
    width: auto;
  }

  &Square {
    height: 100%;
  }
}
