@use '@/shared/styles/design-system' as *;

.root {
  position: relative;
  height: 100dvh;
  max-height: 100dvh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include landscape {
    height: auto;
    max-height: none;
    flex-direction: row;
    justify-content: flex-start;
  }

  @include landscape-short {
    height: 100dvh;
    max-height: 100dvh;
    flex-direction: column;
  }
}
