@use '../../../styles/design-system' as *;

.chartHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: spacing(6);
  gap: spacing(1);
}

.chartTitle {
  margin: 0;
  letter-spacing: -0.01em;
}

.chartSubtitle {
  margin: 0;
}

.chart {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  :global(svg) {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
