@use '@/shared/styles/design-system' as *;

.root {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.scene {
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    left 0.1s ease-out,
    top 0.1s ease-out;
}
