@use '@/shared/styles/design-system' as *;

.container {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.particle {
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: rgba(from var(--color-blue-400) r g b / 0.3);
}
