@use '../../styles/design-system' as *;

.virtualizedTable {
  width: 100%;
  overflow: hidden;
}

.virtualizedTableEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  color: var(--color-slate-400);
  font-size: 1rem;
}
