@use '@/shared/styles/design-system' as *;

.content {
  position: relative;
  height: 100%;
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
