@use '../styles/design-system' as *;

.root {
  position: relative;
  min-height: 100vh;
  @supports (height: 100dvh) {
    min-height: 100dvh;
  }
}

.codeBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.scrollContainer {
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}
