@use '@/shared/styles/design-system' as *;

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.container {
  position: relative;
  display: flex;
  transform: rotate(30deg);
  align-items: center;
  justify-content: center;
  overflow: visible;
  z-index: 100;
}

.beam {
  position: absolute;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  &Horizontal {
    filter: blur(0.2px);
  }

  &Vertical {
    filter: blur(0.2px);
    animation-delay: 0.2s;
  }

  &Diagonal45 {
    transform: rotate(45deg);
    filter: blur(0.15px);
    animation-delay: 0.4s;
  }

  &Diagonal135 {
    transform: rotate(135deg);
    filter: blur(0.15px);
    animation-delay: 0.6s;
  }
}

.centralCircle {
  position: absolute;
  border-radius: 50%;
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  filter: blur(0.8px);
  box-shadow:
    0 0 6px rgba(from var(--color-white) r g b / 0.8),
    0 0 12px rgba(from var(--color-blue-300) r g b / 0.5);
}

.innerCenter {
  position: absolute;
  border-radius: 50%;
  filter: blur(0.3px);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  animation-delay: 0.25s;
  box-shadow:
    0 0 4px rgba(from var(--color-white) r g b / 1),
    0 0 8px rgba(from var(--color-blue-300) r g b / 0.6);
}
