$colors: (
  'cyan': (
    300: rgb(103, 232, 249),
    400: rgb(6, 182, 212),
    600: rgb(8, 145, 178),
  ),
  'blue': (
    300: rgb(147, 197, 253),
    400: rgb(59, 130, 246),
  ),
  'purple': (
    300: rgb(196, 181, 253),
    500: rgb(168, 85, 247),
  ),
  'indigo': (
    500: rgb(99, 102, 241),
  ),
  'slate': (
    200: rgb(226, 232, 240),
    300: rgb(203, 213, 225),
    400: rgb(148, 163, 184),
    500: rgb(100, 116, 139),
    600: rgb(71, 85, 105),
    700: rgb(51, 65, 85),
    800: rgb(30, 41, 59),
    900: rgb(15, 23, 42),
  ),
  'sky': (
    200: rgb(186, 230, 253),
    300: rgb(125, 211, 252),
    500: rgb(14, 165, 233),
  ),
  'aqua': rgb(0, 204, 255),
  'dark': rgb(2, 6, 23),
  'deepBlue': rgb(0, 10, 42),
  'violet': (
    'deep': rgb(39, 29, 216),
    'medium': rgb(44, 32, 158),
  ),
  'white': #ffffff,
  'black': #000000,
);

$spacing: (
  1: 0.25rem,
  // 4px
  2: 0.5rem,
  // 8px
  3: 0.75rem,
  // 12px
  4: 1rem,
  // 16px
  6: 1.5rem,
  // 24px
  8: 2rem,
  // 32px
  12: 3rem, // 48px
);

$font-family: (
  sans: (
    'Inter',
    system-ui,
    -apple-system,
    sans-serif,
  ),
  mono: (
    'Fira Code',
    'Courier New',
    monospace,
  ),
);

$font-size: (
  xs: (
    size: 0.75rem,
    line-height: 1rem,
  ),
  // 12px
  sm: (
      size: 0.875rem,
      line-height: 1.25rem,
    ),
  // 14px
  base: (
      size: 1rem,
      line-height: 1.5rem,
    ),
  // 16px
  lg: (
      size: 1.125rem,
      line-height: 1.75rem,
    ),
  // 18px
  xl: (
      size: 1.25rem,
      line-height: 1.75rem,
    ),
  // 20px
  2xl: (
      size: 1.5rem,
      line-height: 2rem,
    ),
  // 24px
  3xl: (
      size: 1.875rem,
      line-height: 2.25rem,
    ),
  // 30px
  4xl: (
      size: 2.25rem,
      line-height: 2.5rem,
    ),
  // 36px
  5xl: (
      size: 3rem,
      line-height: 3.5rem,
    ),
);

$font-weight: (
  normal: 400,
  medium: 500,
  bold: 700,
  extrabold: 800,
);

$radius: (
  none: 0,
  sm: 0.125rem,
  // 2px
  md: 0.375rem,
  // 6px
  lg: 0.5rem,
  // 8px
  full: 9999px,
);

$shadows: (
  xl: (
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04),
  ),
);

$transitions: (
  fast: 150ms,
  base: 300ms,
  slow: 500ms,
);

$z-index: (
  base: 0,
  content: 5,
  dropdown: 1000,
  sticky: 1020,
  fixed: 1030,
  modal-backdrop: 1040,
  modal: 1050,
  popover: 1060,
  tooltip: 1070,
);

$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
);
