@use '../../../styles/design-system' as *;

.root {
  cursor: pointer;
}

.label {
  font-size: 0.875rem;
  font-weight: font-weight(medium);
}

.arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrowIcon {
  transition: transform transition(base);

  .button:hover &,
  .buttonWrapper:hover & {
    transform: scale(1.1);
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: spacing(2);
}
