@use '../../../styles/design-system' as *;

.image {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  mask-composite: intersect;
  -webkit-mask-composite: source-in;
}
