@use '../../../styles/design-system' as *;

.imageWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  :global(img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    mask-composite: intersect;
    -webkit-mask-composite: source-in;
  }
}

.picture {
  width: 100%;
  height: 100%;
}

.imageWrapperGradient {
  :global(img) {
    $white: ds-color('white');
    $white-50: color-opacity('white', null, 0.5);

    $gradient:
      linear-gradient(
        to bottom,
        transparent 0%,
        $white-50 20%,
        $white 30%,
        $white 70%,
        $white-50 80%,
        transparent 100%
      ),
      linear-gradient(
        to right,
        transparent 0%,
        $white-50 20%,
        $white 30%,
        $white 70%,
        $white-50 80%,
        transparent 100%
      );

    -webkit-mask-image: $gradient;
    mask-image: $gradient;
  }
}

.imageWrapperNone {
  :global(img) {
    -webkit-mask-image: none;
    mask-image: none;
  }
}
