@use '@/shared/styles/design-system' as *;

.root {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;

  &Portrait {
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }

  &Landscape {
    flex-direction: row;
  }
}
